
<div class="card-wrapper-container">
<div class="card-title-container">
  <span class="card-title">
    Cats
  </span>
</div>
<div class="card-main-container flex flex-col">
  <table class="grid-table mx-10 my-3 table-fixed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Breed</th>
        <th class="text-center w-64">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @cats.each do |cat| %>
        <tr>
          <td><%= cat.name %></td>
          <td><%= cat.age %></td>
          <td><%= cat.gender %></td>
          <td><%= cat.breed.name %></td>
          <td class="justify-center flex flex-1">
            <%= link_to 'Show', cat, class: "btn btn-purple" %>
            <%= link_to 'Edit', edit_cat_path(cat), class: "btn btn-dark-purple" %>
            <%= link_to 'Destroy', cat, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="justify-end flex">
    <%= link_to '+ New Cat', new_cat_path, class: "btn btn-purple m-2 w-40" %>
  </div>
</div>
</div
